@page "/register"

@using System.Net.Http.Json
@using Blazored.LocalStorage
@using AZ_Inz.Classes.DTO

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager Navigation

<h3>Register</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

<div>
    <label for="username">Username</label>
    <input id="username" @bind="username" placeholder="Enter username" />
</div>
<div>
    <label for="email">Email</label>
    <input id="email" @bind="email" type="email" placeholder="Enter email" />
</div>
<div>
    <label for="password">Password</label>
    <input id="password" @bind="password" type="password" placeholder="Enter password" />
</div>
<div>
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" @bind="confirmPassword" type="password" placeholder="Confirm password" />
</div>
<button @onclick="RegisterUser">Register</button>

@code {
    private string username { get; set; }
    private string email { get; set; }
    private string password { get; set; }
    private string confirmPassword { get; set; }
    private string errorMessage { get; set; }

    private async Task RegisterUser()
    {
        if (password != confirmPassword)
        {
            errorMessage = "Passwords do not match!";
            return;
        }

        RegisterModelDTO user = new()
        {
            Username = username,
            Email = email,
            Password = password
        };

        var response = await Http.PostAsJsonAsync("https://localhost:7060/api/Auth/register", user);

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/login");
        }
        else
        {
            errorMessage = "Registration failed. Please try again.";
        }
    }
}
